.card:hover {
  cursor: pointer;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  background-color: transparent;
  border: none;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;
  }

  &__face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);

    &--back {
      background-color: var(--card-back-color);
      background-image:
        url("../../assets/themes/card-icon-back/da_logo.png"), var(--card-back-gradient);
      background-size: 49px, cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--front {
      transform: rotateY(180deg);
      background-color: var(--card-front-color);

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 48px;
    }
  }

  &.is-flipped .card__inner {
    transform: rotateY(180deg);
  }
}
