$themes: (
  code-vibes: (
    background-color: rgba(48, 49, 49, 1),
    font-family: "Red Rose",
    text-color: rgba(255, 255, 255, 1),
    card-back-color: linear-gradient(212.26deg, #4dd5bc 29.42%, #286f62 123.94%),
    card-front-color: rgba(232, 243, 240, 1),
    exit-button-color: rgba(134, 233, 214, 0.14),
    exit-button-hover-color: rgba(134, 233, 214, 0.26),
    exit-button-border-color: rgba(77, 213, 188, 1),
    popup-button-color: rgba(102, 207, 188, 1),
    popup-button-hover-color: rgba(102, 207, 188, 0.7),
    popup-button-border-color: rgba(58, 188, 164, 1),
  ),
  gaming: (
    font-family: "Orbitron",
    background-color: rgba(41, 79, 96, 1),
    text-color: rgba(255, 255, 255, 1),
    card-back-color: linear-gradient(147.13deg, #ed1b76 1.28%, #0a2835 142.53%),
    card-front-color: rgba(246, 241, 243, 1),
    exit-button-color: rgba(237, 27, 118, 0.08),
    exit-button-hover-color: rgba(237, 27, 118, 0.14),
    exit-button-border-color: rgba(231, 28, 79, 1),
    popup-button-color: rgba(237, 27, 118, 1),
    popup-button-hover-color: rgba(242, 199, 218, 0.08),
    popup-button-border-color: rgba(231, 28, 79, 1),
  ),
  da-projects: (
    background-color: rgba(255, 255, 255, 1),
    font-family: "Figtree",
    text-color: rgba(30, 117, 148, 1),
    card-back-color: rgba(30, 117, 148, 1),
    card-front-color: rgba(234, 242, 244, 1),
    exit-button-color: rgba(191, 229, 242, 1),
    exit-button-hover-color: rgba(30, 117, 148, 1),
    exit-button-border-color: rgba(191, 229, 242, 1),
    popup-button-color: rgba(191, 229, 242, 1),
    popup-button-hover-color: rgba(30, 117, 148, 1),
    popup-button-border-color: transparent,
  ),
  foods: (
    background-color: rgba(255, 255, 255, 1),
    font-family: "Klee One",
    text-color: rgba(164, 82, 18, 1),
    card-back-color: rgba(243, 131, 45, 1),
    card-front-color: rgba(244, 236, 228, 1),
    exit-button-color: rgba(255, 249, 242, 1),
    exit-button-hover-color: rgba(243, 131, 45, 1),
    exit-button-border-color: rgba(243, 131, 45, 1),
    popup-button-color: rgba(255, 171, 62, 1),
    popup-button-hover-color: rgba(243, 131, 45, 1),
    popup-button-border-color: rgba(243, 131, 45, 1),
  ),
);
