@use "variables" as vars;

$themes: (
  code-vibes: (
    main-color: rgba(77, 213, 188, 1),
    secondary-color: rgba(134, 233, 214, 0.26),
    background-color: rgba(48, 49, 49, 1),
    font-family: "Red Rose",
    text-color: vars.$main-white-color,
    button-border: 2px solid var(--main-color),
    button-padding: 16px 24px,

    head-scoreboard-font-size: 24px,
    player-symbol-width: 24px,
    current-player-font-size: 26px,
    current-player-font-weight: 400,
    current-player-symbol-width: 29px,
    current-player-symbol-color: auto,
    current-player-width: 30px,
    current-player-height: 30px,
    current-player-border-radius: 0px,
    card-back-gradient: linear-gradient(212.26deg, #4dd5bc 29.42%, #286f62 123.94%),
    card-back-color: transparent,
    card-front-color: rgba(232, 243, 240, 1),
    exit-button-color: var(--secondary-color),
    exit-button-hover-color: rgba(134, 233, 214, 0.38),
    exit-button-border-color: var(--main-color),
    exit-button-text-color: vars.$main-white-color,
    exit-button-hover-text-color: vars.$main-white-color,
    exit-button-font-size: 24px,
    exit-button-font-weight: 700,
    exit-button-symbol-color: vars.$main-white-color,
    exit-button-symbol-width: 25.75px,
    exit-button-hover-symbol-color: vars.$main-white-color,
    popup-yes-button-background-color: var(--secondary-color),
    popup-yes-button-hover-background-color: var(--secondary-color),
    popup-yes-button-text-color: var(--main-color),
    popup-yes-button-hover-text-color: var(--main-color),
    popup-yes-button-border: 2px solid var(--main-color),
    popup-yes-button-hover-border: 2px solid var(--main-color),
    popup-yes-button-hover-shadow: (
      0 0 0 1px var(--main-color),
      4px 4px 6px 0px rgba(77, 213, 188, 0.2),
    ),
    popup-no-button-shadow: none,
    popup-no-button-border: 3px solid transparent,
    popup-no-button-hover-border: 3px solid rgba(58, 188, 164, 1),
    popup-no-button-hover-shadow: none,
    popup-no-button-text-color: vars.$main-white-color,
    popup-no-button-hover-text-color: vars.$main-white-color,
    popup-no-button-background-color: rgba(102, 207, 188, 1),
    popup-no-button-hover-background-color: rgba(102, 207, 188, 0.7),
    popup-dialog-background-color: vars.$main-white-color,
    button-border-radius: 0,
    button-border-hover: 2px solid var(--main-color),
    button-shadow-hover: (
      0 0 0 1px var(--main-color),
      4px 4px 6px 0px rgba(77, 213, 188, 0.2),
    ),
    card-width: 120px,
    card-height: 120px,
    card-border-radius: none,
    card-box-shadow: none,
    board-header-background-color: rgba(77, 213, 188, 0.2),
    board-header-border-radius: 0,
    scoreboard-background-color: rgba(134, 233, 214, 0.3),
    dialog-border-radius: 0,
    gameover-background-color: rgba(48, 49, 49, 1),
    gameover-text-color: vars.$main-white-color,
    gameover-font-family: "Red Rose",
    gameover-title-font-size: 126px,
    gameover-title-text-color: var(--main-color),
    gameover-font-size: 26px,
    gameover-font-weight: 400,
    gameover-player-score-font-family: "Red Rose",
    gameover-player-score-font-size: 24px,
    gameover-player-score-font-weight: 700,
    gameover-scoreboard-player-icon-width: 24px,
    gameover-scoreboard-player-icon-height: 20px,
    gameover-scoreboard-background-color: rgba(134, 233, 214, 0.2),
    gameover-scoreboard-border-radius: 0,
    gameover-scoreboard-padding: 17px 20px,
    gameover-scoreboard-gap: 32px,
    winner-overlay-background-color: rgba(48, 49, 49, 1),
    winner-overlay-text-color: vars.$main-white-color,
    winner-overlay-font-family: "Red Rose",
    winner-overlay-title-font-size: 40px,
    winner-overlay-title-text-color: vars.$main-white-color,
    winner-overlay-player-name-font-size: 60px,
    winner-overlay-font-weight: 700,
    winner-overlay-button-background-color: rgba(134, 233, 214, 0.2),
    winner-overlay-button-hover-background-color: rgba(77, 213, 188, 0.7),
    winner-overlay-button-text-color: vars.$main-white-color,
    winner-overlay-button-hover-text-color: vars.$main-white-color,
    winner-overlay-button-border: 1px solid var(--main-color),
    winner-overlay-button-hover-border: var(--winner-overlay-button-border),
    winner-overlay-button-hover-shadow: (
      0 0 0 1px var(--main-color),
      4px 4px 6px 0px rgba(77, 213, 188, 0.2),
    ),
    winner-overlay-button-radius: 0,
    winner-overlay-button-font-size: 24px,
    winner-overlay-button-font-weight: 700,
    winner-overlay-button-padding: 16px 24px,
    winner-overlay-icon-width: 200px,
    winner-overlay-icon-height: 250px,
    winner-overlay-icon-color: vars.$main-white-color,
    draw-overlay-background-color: rgba(48, 49, 49, 1),
    draw-overlay-text-color: vars.$main-white-color,
    draw-overlay-font-family: "Red Rose",
    draw-overlay-title-font-size: 40px,
    draw-overlay-title-text-color: vars.$main-white-color,
    draw-overlay-font-weight: 700,
    draw-overlay-button-background-color: rgba(134, 233, 214, 0.2),
    draw-overlay-button-hover-background-color: rgba(77, 213, 188, 0.7),
    draw-overlay-button-text-color: vars.$main-white-color,
    draw-overlay-button-hover-text-color: vars.$main-white-color,
    draw-overlay-button-border: 1px solid var(--main-color),
    draw-overlay-button-hover-border: var(--draw-overlay-button-border),
    draw-overlay-button-hover-shadow: (
      0 0 0 1px var(--main-color),
      4px 4px 6px 0px rgba(77, 213, 188, 0.2),
    ),
    draw-overlay-button-radius: 0,
    draw-overlay-button-font-size: 24px,
    draw-overlay-button-font-weight: 700,
    draw-overlay-button-padding: 16px 24px,
    draw-overlay-icon-width: 200px,
    draw-overlay-icon-height: 250px,
    scale-width: 339px,
    scale-height: 272px,
    scale-fill: var(--main-color),
    scale-stroke: var(--main-color),
    scale-stroke-width: 5px,
    board-header-box-shadow: 3px 2px 10.1px 0px rgba(0, 0, 0, 0.2),
    scoreboard-border-radius: 0,
    popup-button-text-color: vars.$main-white-color,
  ),

  gaming: (
    main-color: rgba(237, 27, 118, 1),
    secondary-color: rgba(237, 27, 118, 0.14),
    font-family: "Orbitron",
    background-color: rgba(41, 79, 96, 1),
    text-color: vars.$main-white-color,
    head-scoreboard-font-size: 30px,
    player-symbol-width: 22px,
    current-player-font-size: 32px,
    current-player-font-weight: 700,
    current-player-symbol-width: 25px,
    current-player-symbol-color: vars.$main-white-color,
    current-player-width: 41px,
    current-player-height: 40px,
    current-player-border-radius: 3px,
    card-back-gradient: linear-gradient(147.13deg, #ed1b76 1.28%, #0a2835 142.53%),
    card-back-color: transparent,
    card-front-color: rgba(246, 241, 243, 1),
    exit-button-color: var(--secondary-color),
    exit-button-hover-color: rgba(237, 27, 118, 0.24),
    exit-button-border-color: var(--main-color),
    exit-button-text-color: vars.$main-white-color,
    exit-button-hover-text-color: vars.$main-white-color,
    exit-button-font-size: 20px,
    exit-button-font-weight: 700,
    exit-button-symbol-color: vars.$main-white-color,
    exit-button-symbol-width: 25.75px,
    exit-button-hover-symbol-color: var(--main-color),
    popup-yes-button-background-color: var(--secondary-color),
    popup-yes-button-hover-background-color: rgba(237, 27, 118, 0.24),
    popup-yes-button-text-color: var(--main-color),
    popup-yes-button-hover-text-color: var(--main-color),
    popup-yes-button-border: 2px solid var(--main-color),
    popup-yes-button-hover-border: 2px solid var(--main-color),
    popup-yes-button-hover-shadow: (
      0 0 0 1px var(--main-color),
      3px 3px 5px 0px rgba(47, 46, 46, 0.2),
    ),
    popup-no-button-border: 1px solid var(--main-color),
    popup-no-button-shadow: none,
    popup-no-button-hover-border: 1px solid var(--main-color),
    popup-no-button-hover-shadow: (
      0 0 0 1px var(--main-color),
      3px 3px 5px 0px rgba(47, 46, 46, 0.2),
    ),
    popup-no-button-text-color: vars.$main-white-color,
    popup-no-button-hover-text-color: var(--main-color),
    popup-no-button-background-color: var(--main-color),
    popup-no-button-hover-background-color: rgba(242, 199, 218, 0.08),
    popup-dialog-background-color: vars.$main-white-color,
    button-border: 2px solid var(--main-color),
    button-border-radius: 10px,
    button-border-hover: 2px solid var(--main-color),
    button-shadow-hover: (
      0 0 0 1px var(--main-color),
      3px 3px 5px 0px rgba(47, 46, 46, 0.2),
    ),
    button-padding: 12px 20px,
    card-width: 105px,
    card-height: 120px,
    card-border-radius: 12px,
    card-box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.25),
    board-header-background-color: rgba(253, 150, 201, 0.2),
    board-header-border-radius: 10px,
    scoreboard-background-color: vars.$main-white-color,
    dialog-border-radius: 20px,
    gameover-background-color: rgba(41, 79, 96, 1),
    gameover-title-text-color: var(--main-color),
    gameover-text-color: vars.$main-white-color,
    gameover-font-family: "Orbitron",
    gameover-title-font-size: 124px,
    gameover-title-font-weight: 900,
    gameover-font-size: 28px,
    gameover-font-weight: 700,
    gameover-player-score-font-family: "Orbitron",
    gameover-player-score-font-size: 40px,
    gameover-player-score-font-weight: 700,
    gameover-scoreboard-player-icon-width: 26px,
    gameover-scoreboard-player-icon-height: 32px,
    gameover-scoreboard-background-color: vars.$main-white-color,
    gameover-scoreboard-border-radius: 10px,
    gameover-scoreboard-padding: 8px 16px,
    gameover-scoreboard-gap: 40px,
    winner-overlay-background-color: var(--gameover-background-color),
    winner-overlay-text-color: vars.$main-white-color,
    winner-overlay-font-family: "Orbitron",
    winner-overlay-title-font-size: 28px,
    winner-overlay-title-text-color: vars.$main-white-color,
    winner-overlay-player-name-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    winner-overlay-player-name-font-size: 64px,
    winner-overlay-font-weight: 700,
    winner-overlay-button-background-color: transparent,
    winner-overlay-button-hover-background-color: rgba(237, 27, 118, 0.4),
    winner-overlay-button-text-color: vars.$main-white-color,
    winner-overlay-button-hover-text-color: vars.$main-white-color,
    winner-overlay-button-border: 2px solid var(--main-color),
    winner-overlay-button-hover-border: var(--winner-overlay-button-border),
    winner-overlay-button-hover-shadow: (
      0 0 0 2px var(--main-color),
      4px 4px 6px 0px rgba(77, 213, 188, 0.2),
    ),
    winner-overlay-button-border-radius: 10px,
    winner-overlay-button-font-size: 20px,
    winner-overlay-button-font-weight: 700,
    winner-overlay-button-padding: 12px 20px,
    winner-overlay-icon-width: 288px,
    winner-overlay-icon-height: 344px,
    winner-overlay-icon-color: vars.$main-white-color,
    draw-overlay-background-color: rgba(41, 79, 96, 1),
    draw-overlay-text-color: vars.$main-white-color,
    draw-overlay-font-family: "Orbitron",
    draw-overlay-title-font-size: 28px,
    draw-overlay-title-text-color: vars.$main-white-color,
    draw-overlay-font-weight: 700,
    draw-overlay-title-headline-font-size: 128px,
    draw-overlay-title-headline-text-color: var(--main-color),
    draw-overlay-title-headline-text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    draw-overlay-button-background-color: rgba(134, 233, 214, 0.2),
    draw-overlay-button-hover-background-color: rgba(77, 213, 188, 0.7),
    draw-overlay-button-text-color: vars.$main-white-color,
    draw-overlay-button-hover-text-color: vars.$main-white-color,
    draw-overlay-button-border: 1px solid var(--main-color),
    draw-overlay-button-hover-border: var(--draw-overlay-button-border),
    draw-overlay-button-hover-shadow: (
      0 0 0 1px var(--main-color),
      4px 4px 6px 0px rgba(77, 213, 188, 0.2),
    ),
    draw-overlay-button-radius: 0,
    draw-overlay-button-font-size: 24px,
    draw-overlay-button-font-weight: 700,
    draw-overlay-button-padding: 16px 24px,
    draw-overlay-icon-width: 200px,
    draw-overlay-icon-height: 250px,
    scale-width: 339px,
    scale-height: 272px,
    scale-fill: var(--main-color),
    scale-stroke: var(--main-color),
    scale-stroke-width: 4px,
    board-header-box-shadow: 3px 2px 10.1px 0px rgba(0, 0, 0, 0.2),
    scoreboard-border-radius: 4px,
    popup-button-text-color: vars.$main-white-color,
  ),
  da-projects: (
    main-color: rgba(30, 117, 148, 1),
    secondary-color: rgba(191, 229, 242, 1),
    background-color: vars.$main-white-color,
    font-family: "Figtree",
    text-color: rgba(30, 117, 148, 1),
    head-scoreboard-font-size: 30px,
    player-symbol-width: 20px,
    current-player-font-size: 32px,
    current-player-font-weight: 700,
    current-player-symbol-width: 25px,
    current-player-symbol-color: vars.$main-white-color,
    current-player-width: 41px,
    current-player-height: 40px,
    current-player-border-radius: 8px,
    card-back-gradient: none,
    card-back-color: var(--main-color),
    card-front-color: rgba(234, 242, 244, 1),
    exit-button-color: var(--secondary-color),
    exit-button-hover-color: var(--main-color),
    exit-button-border-color: var(--secondary-color),
    exit-button-text-color: var(--main-color),
    exit-button-hover-text-color: vars.$main-white-color,
    exit-button-font-size: 20px,
    exit-button-font-weight: 700,
    exit-button-symbol-color: var(--main-color),
    exit-button-symbol-width: 25.75px,
    exit-button-hover-symbol-color: vars.$main-white-color,
    popup-yes-button-background-color: rgba(253, 138, 129, 1),
    popup-yes-button-hover-background-color: rgba(237, 91, 80, 1),
    popup-yes-button-text-color: vars.$main-white-color,
    popup-yes-button-hover-text-color: vars.$main-white-color,
    popup-yes-button-border: none,
    popup-yes-button-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2),
    popup-yes-button-hover-border: none,
    popup-yes-button-hover-shadow: none,
    popup-no-button-border: none,
    popup-no-button-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2),
    popup-no-button-hover-border: none,
    popup-no-button-hover-shadow: none,
    popup-no-button-text-color: var(--main-color),
    popup-no-button-hover-text-color: vars.$main-white-color,
    popup-no-button-background-color: var(--secondary-color),
    popup-no-button-hover-background-color: var(--main-color),
    popup-dialog-background-color: vars.$main-white-color,
    button-border: none,
    button-border-radius: 10px,
    button-border-hover: none,
    button-shadow-hover: 3px 3px 5px 0px rgba(47, 46, 46, 0.2),
    button-padding: 12px 20px,
    card-width: 120px,
    card-height: 100px,
    card-border-radius: 13px,
    card-box-shadow: none,
    board-header-background-color: vars.$main-white-color,
    board-header-border-radius: 10px,
    scoreboard-background-color: vars.$main-white-color,
    dialog-width: 456px,
    dialog-border-radius: 20px,
    gameover-background-color: var(--main-color),
    gameover-text-color: vars.$main-white-color,
    gameover-font-family: "Figtree",
    gameover-title-font-size: 130px,
    gameover-title-font-weight: 800,
    gameover-title-text-color: rgba(253, 91, 79, 1),
    gameover-title-text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    gameover-font-size: 40px,
    gameover-font-weight: 500,
    gameover-player-score-font-family: "Figtree",
    gameover-player-score-font-size: 38px,
    gameover-player-score-font-weight: 700,
    gameover-scoreboard-player-icon-width: 24px,
    gameover-scoreboard-player-icon-height: 30px,
    gameover-scoreboard-background-color: vars.$main-white-color,
    gameover-scoreboard-border-radius: 10px,
    gameover-scoreboard-padding: 16px 40px,
    gameover-scoreboard-gap: 40px,
    winner-overlay-background-color: var(--main-color),
    winner-overlay-text-color: vars.$main-white-color,
    winner-overlay-font-family: "Red Rose",
    winner-overlay-title-font-size: 40px,
    winner-overlay-title-text-color: vars.$main-white-color,
    winner-overlay-player-name-font-size: 60px,
    winner-overlay-font-weight: 700,
    winner-overlay-button-background-color: var(--secondary-color),
    winner-overlay-button-hover-background-color: vars.$main-white-color,
    winner-overlay-button-text-color: var(--main-color),
    winner-overlay-button-hover-text-color: vars.$main-white-color,
    winner-overlay-button-border: none,
    winner-overlay-button-hover-border: none,
    winner-overlay-button-hover-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2),
    winner-overlay-button-border-radius: 10px,
    winner-overlay-button-font-size: 24px,
    winner-overlay-button-font-weight: 700,
    winner-overlay-button-padding: 16px 24px,
    winner-overlay-icon-width: 200px,
    winner-overlay-icon-height: 250px,
    winner-overlay-icon-color: vars.$main-white-color,
    draw-overlay-background-color: var(--main-color),
    draw-overlay-text-color: vars.$main-white-color,
    draw-overlay-font-family: "Figtree",
    draw-overlay-title-font-size: 40px,
    draw-overlay-title-text-color: vars.$main-white-color,
    draw-overlay-font-weight: 400,
    draw-overlay-title-headline-font-size: 128px,
    draw-overlay-title-headline-font-weight: 800,
    draw-overlay-title-headline-text-color: rgba(253, 91, 79, 1),
    draw-overlay-title-headline-text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    draw-overlay-button-background-color: rgba(134, 233, 214, 0.2),
    draw-overlay-button-hover-background-color: rgba(77, 213, 188, 0.7),
    draw-overlay-button-text-color: vars.$main-white-color,
    draw-overlay-button-hover-text-color: vars.$main-white-color,
    draw-overlay-button-border: 1px solid rgba(77, 213, 188, 1),
    draw-overlay-button-hover-border: var(--draw-overlay-button-border),
    draw-overlay-button-hover-shadow: (
      0 0 0 1px rgba(77, 213, 188, 1),
      4px 4px 6px 0px rgba(77, 213, 188, 0.2),
    ),
    draw-overlay-button-radius: 0,
    draw-overlay-button-font-size: 24px,
    draw-overlay-button-font-weight: 700,
    draw-overlay-button-padding: 16px 24px,
    draw-overlay-icon-width: 200px,
    draw-overlay-icon-height: 250px,
    scale-width: 339px,
    scale-height: 272px,
    scale-fill: rgba(253, 91, 79, 1),
    scale-stroke: vars.$main-white-color,
    scale-stroke-width: 5px,
    board-header-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2),
    scoreboard-border-radius: 0,
    popup-button-text-color: vars.$main-white-color,
  ),
  foods: (
    main-color: rgba(243, 131, 45, 1),
    secondary-color: rgba(255, 249, 242, 1),
    background-color: vars.$main-white-color,
    font-family: "Klee One",
    text-color: rgba(164, 82, 18, 1),
    head-scoreboard-font-size: 30px,
    player-symbol-width: 20px,
    current-player-font-size: 32px,
    current-player-font-weight: 600,
    current-player-symbol-width: 25px,
    current-player-symbol-color: vars.$main-white-color,
    current-player-width: 41px,
    current-player-height: 40px,
    current-player-border-radius: 8px,
    card-back-gradient: none,
    card-back-color: var(--main-color),
    card-front-color: rgba(244, 236, 228, 1),
    exit-button-color: var(--secondary-color),
    exit-button-hover-color: var(--main-color),
    exit-button-border-color: transparent,
    exit-button-text-color: var(--main-color),
    exit-button-hover-text-color: vars.$main-white-color,
    exit-button-font-size: 16px,
    exit-button-font-weight: 700,
    exit-button-symbol-color: var(--main-color),
    exit-button-symbol-width: 19px,
    exit-button-hover-symbol-color: vars.$main-white-color,
    exit-button-svg-border-color: var(--main-color),
    popup-yes-button-background-color: var(--secondary-color),
    popup-yes-button-hover-background-color: var(--main-color),
    popup-yes-button-text-color: var(--main-color),
    popup-yes-button-hover-text-color: vars.$main-white-color,
    popup-yes-button-border: none,
    popup-yes-button-hover-border: none,
    popup-yes-button-hover-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2),
    popup-no-button-border: none,
    popup-no-button-shadow: none,
    popup-no-button-hover-border: none,
    popup-no-button-hover-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2),
    popup-no-button-text-color: vars.$main-white-color,
    popup-no-button-hover-text-color: vars.$main-white-color,
    popup-no-button-background-color: rgba(255, 171, 62, 1),
    popup-no-button-hover-background-color: var(--main-color),
    popup-dialog-background-color: vars.$main-white-color,
    button-border: 0px solid var(--main-color),
    button-border-radius: 10px,
    button-border-hover: 0px solid var(--main-color),
    button-shadow-hover: 3px 3px 5px 0px rgba(0, 0, 0, 0.2),
    button-border-color: var(--main-color),
    button-padding: 12px 20px,
    card-width: 122px,
    card-height: 120px,
    card-border-radius: none,
    card-box-shadow: none,
    board-header-background-color: vars.$main-white-color,
    board-header-border-radius: 10px,
    scoreboard-background-color: vars.$main-white-color,
    dialog-border-radius: 20px,
    gameover-background-color: var(--main-color),
    gameover-text-color: vars.$main-white-color,
    gameover-font-family: "klee One",
    gameover-font-size: 42px,
    gameover-font-weight: 600,
    gameover-title-font-size: 130px,
    gameover-title-text-color: vars.$main-white-color,
    gameover-player-score-font-family: "Red Rose",
    gameover-player-score-font-size: 40px,
    gameover-player-score-font-weight: 700,
    gameover-scoreboard-player-icon-width: 24px,
    gameover-scoreboard-player-icon-height: 30px,
    gameover-scoreboard-background-color: vars.$main-white-color,
    gameover-scoreboard-border-radius: 0,
    gameover-scoreboard-padding: 16px 40px,
    gameover-scoreboard-gap: 40px,
    winner-overlay-background-color: rgba(246, 246, 246, 1),
    winner-overlay-text-color: var(--main-color),
    winner-overlay-font-family: "Klee One",
    winner-overlay-title-font-size: 40px,
    winner-overlay-title-text-color: vars.$main-white-color,
    winner-overlay-player-name-font-size: 60px,
    winner-overlay-font-weight: 700,
    winner-overlay-button-background-color: var(--main-color),
    winner-overlay-button-hover-background-color: rgba(77, 213, 188, 0.7),
    winner-overlay-button-text-color: vars.$main-white-color,
    winner-overlay-button-hover-text-color: vars.$main-white-color,
    winner-overlay-button-border: 1px solid rgba(77, 213, 188, 1),
    winner-overlay-button-hover-border: var(--winner-overlay-button-border),
    winner-overlay-button-hover-shadow: (
      0 0 0 1px var(--main-color),
      4px 4px 6px 0px rgba(77, 213, 188, 0.2),
    ),
    winner-overlay-button-border-radius: 10px,
    winner-overlay-button-font-size: 16px,
    winner-overlay-button-font-weight: 700,
    winner-overlay-button-padding: 12px 20px,
    winner-overlay-icon-width: 200px,
    winner-overlay-icon-height: auto,
    winner-overlay-icon-color: vars.$main-white-color,
    draw-overlay-background-color: rgba(246, 246, 246, 1),
    draw-overlay-text-color: var(--main-color),
    draw-overlay-font-family: "Klee One",
    draw-overlay-title-font-size: 40px,
    draw-overlay-title-text-color: var(--main-color),
    draw-overlay-font-weight: 600,
    draw-overlay-title-headline-font-size: 128px,
    draw-overlay-title-headline-font-weight: 600,
    draw-overlay-title-headline-text-color: var(--main-color),
    draw-overlay-title-headline-text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    draw-overlay-button-background-color: rgba(134, 233, 214, 0.2),
    draw-overlay-button-hover-background-color: rgba(77, 213, 188, 0.7),
    draw-overlay-button-text-color: vars.$main-white-color,
    draw-overlay-button-hover-text-color: vars.$main-white-color,
    draw-overlay-button-border: 1px solid rgba(77, 213, 188, 1),
    draw-overlay-button-hover-border: var(--draw-overlay-button-border),
    draw-overlay-button-hover-shadow: (
      0 0 0 1px rgba(77, 213, 188, 1),
      4px 4px 6px 0px rgba(77, 213, 188, 0.2),
    ),
    draw-overlay-button-radius: 0,
    draw-overlay-button-font-size: 16px,
    draw-overlay-button-font-weight: 700,
    draw-overlay-button-padding: 12px 20px,
    draw-overlay-icon-width: 200px,
    draw-overlay-icon-height: 250px,
    scale-width: 263px,
    scale-height: 211px,
    scale-fill: var(--main-color),
    scale-stroke: var(--main-color),
    scale-stroke-width: 4px,
    board-header-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2),
    scoreboard-border-radius: 0,
    popup-button-text-color: vars.$main-white-color,
  ),
);
