@use "../abstract/mixin";
@use "../abstract/themes";

@use "sass:map";

.code-theme {
  @include mixin.make-theme(map.get(themes.$themes, code-vibes));
}

.da-theme {
  @include mixin.make-theme(map.get(themes.$themes, da-projects));
}

.gaming-theme {
  @include mixin.make-theme(map.get(themes.$themes, gaming));
}

.foods-theme {
  @include mixin.make-theme(map.get(themes.$themes, foods));
}

.game-body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
}

.main-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  padding: 41px 112px;
  max-width: 1440px;
  width: 100%;
  max-height: 1024px;
  height: 100%;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;
}

.game-board-head {
  @include mixin.flex-between(row);
  gap: 20px;
  width: 100%;
  background-color: var(--board-header-background-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--board-header-box-shadow);
}

.score-board {
  @include mixin.flex-center(row);
  gap: 20px;
  padding: 17px 20px;
  background-color: var(--scoreboard-background-color);
  border-radius: 10px;
  box-shadow: var(--scoreboard-box-shadow);
}

.player-one,
.player-two {
  font-weight: 700;
  font-size: 24px;

  & svg {
    width: var(--player-symbol-width);
    height: auto;
  }
}

.player-one,
.player-two {
  & svg {
    width: var(--player-symbol-width);
    height: auto;
  }
}

.current-player {
  font-size: var(--current-player-font-size);
  font-weight: var(--current-player-font-weight);
  & svg {
    width: var(--current-player-symbol-width);
    height: auto;
  }
}

.player-blue {
  color: rgba(43, 177, 255, 1);
}

.player-orange {
  color: rgba(245, 142, 57, 1);
}

.button-exit {
  @include mixin.flex-center(row);
  background-color: var(--exit-button-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  padding: 10px 20px;
  gap: 8px;
  color: var(--exit-button-text-color);
  font-family: var(--font-family);
  font-size: var(--exit-button-font-size);
  font-weight: var(--exit-button-font-weight);

  position: relative;
  overflow: hidden;

  & svg {
    width: var(--exit-button-symbol-width);
    height: auto;
    color: var(--exit-button-symbol-color);
  }

  &:hover {
    background-color: var(--exit-button-hover-color);
    color: var(--exit-button-hover-text-color);
    border: var(--button-border-hover);
    box-shadow: var(--button-shadow-hover);
    cursor: pointer;

    & svg {
      color: var(--exit-button-hover-symbol-color);
    }

    & .exit-button-foods-border {
      position: absolute;
      inset: 0;

      & svg {
        display: block;
        width: 100%;
        height: 100%;
        color: var(--button-border-color);
      }
    }
  }
}

.button-popup-exit {
  border-radius: var(--button-border-radius);
  padding: 10px 20px;
  color: var(--popup-button-text-color);
  font-family: var(--font-family);
  font-size: 16px;

  &__no {
    background-color: var(--popup-no-button-background-color);
    border: var(--popup-no-button-border);
    color: var(--popup-no-button-text-color);
    box-shadow: var(--popup-no-button-shadow);

    position: relative;
    overflow: hidden;

    & .no-button-icon {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      & svg {
        width: 100%;
        height: 100%;
        display: block;
        color: var(--button-border-color);
      }
    }

    &:hover {
      background-color: var(--popup-no-button-hover-background-color);
      border: var(--popup-no-button-hover-border);
      color: var(--popup-no-button-hover-text-color);
      box-shadow: var(--popup-no-button-hover-shadow);

      & .no-button-icon {
        display: none;
      }
    }
  }

  &__yes {
    background-color: var(--popup-yes-button-background-color);
    border: var(--popup-yes-button-border);
    color: var(--popup-yes-button-text-color);
    box-shadow: var(--popup-yes-button-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    position: relative;
    overflow: hidden;

    & .yes-button-icon {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      & svg {
        width: 100%;
        height: 100%;
        display: block;
        color: var(--button-border-color);
      }
    }

    &:hover {
      background-color: var(--popup-yes-button-hover-background-color);
      border: var(--popup-yes-button-hover-border);
      color: var(--popup-yes-button-hover-text-color);
      box-shadow: var(--popup-yes-button-hover-shadow);

      & .yes-button-icon {
        display: none;
      }
    }
  }
}

.exit-dialog-content {
  @include mixin.flex-center(column);
  gap: 40px;
  padding: 40px;
  background-color: var(--popup-dialog-background-color);
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--popup-dialog-box-shadow);
}

.exit-dialog-buttons {
  @include mixin.flex-center(row);
  gap: 20px;
}

.extra-font {
  font-family: "Delius Unicase";
  font-weight: 700;
  font-size: 16px;
}

.exit-button-foods-border {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  & svg {
    width: 100%;
    height: 100%;
    display: block;
    color: var(--exit-button-svg-border-color);
  }
}
