@use "../abstract/mixin";

.settings-body {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(48, 49, 49, 1);
  font-family: "Almarai Regular";

  @include mixin.flex-center(column);
  height: 100vh;
  margin: 0;
}

.main-settings {
  @include mixin.flex-start(row);
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;

  padding: 243px 170px;

  position: relative;

  align-items: stretch;
}

.headline-subtitle {
  font-family: "Red Rose";
  font-size: 54px;

  position: absolute;
  margin-top: -129px;
}

.settings-left-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.choose-container {
  @include mixin.flex-start(column);
  width: 300px;
  gap: 16px;

  & h4 {
    @include mixin.flex-center;
    gap: 8px;

    & .game-icon svg {
      color: rgba(218, 30, 186, 1);
    }

    & .player-icon svg {
      color: rgba(26, 229, 190, 1);
    }

    & .board-icon svg {
      color: rgba(6, 53, 201, 1);
    }
  }
}

.inputs-wrapper {
  @include mixin.flex-start(column);
  gap: 12px;
  padding-left: 24px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-family: "Almarai Regular";
    transition: font-family 0.2s ease;
  }

  &:hover label,
  &:hover input {
    font-family: "Almarai Bold";
    cursor: pointer;
  }

  input:checked + label {
    font-family: "Almarai Bold";
  }
}

.label-line {
  display: inline-flex;
  align-items: center;
  opacity: 0;
  transform: translateX(-6px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;

  svg {
    color: rgba(240, 234, 110, 1);
    width: 41px;
    height: 20px;
  }
}

.input-wrapper:hover .label-line {
  opacity: 1;
  transform: translateX(0);
}

.input-wrapper input:checked + label .label-line {
  opacity: 1;
  transform: translateX(0);
}

.preview-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  & img {
    border-radius: 16px;
    max-width: 360px;
    width: 100%;
  }
}

.preview-board {
  @include mixin.flex-center(row);
  gap: 16px;
  padding: 14px 20px;

  background-color: rgba(246, 246, 246, 1);
}

.start-game-button {
  font-family: "Red Rose";
  font-size: 20px;
  font-weight: 700;
  color: rgba(48, 49, 49, 1);

  padding: 14px 20px;
  background-color: rgba(240, 234, 110, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  span {
    display: flex;
  }

  &:disabled {
    color: rgba(163, 161, 161, 1);
    background-color: rgba(219, 219, 214, 1);
  }

  &:hover:not(:disabled) {
    transform: scale(1.2);

    svg {
      transform: rotate(-5deg);
    }
  }

  & p {
    text-align: center;
  }
}

.board-seperator {
  color: rgba(240, 234, 110, 1);

  &-unchoosen {
    background-color: rgba(240, 234, 110, 1);
    width: 8px;
    height: 56px;
    transform: rotate(9deg);
  }
}
