* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgba(48, 49, 49, 1);
  color: rgba(255, 255, 255, 1);
}

h1 {
  font-family: "Red Rose";
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  &:hover {
    cursor: pointer;
  }
}
